<%- include('../partials/header.ejs') %>
<section class="py-5 error">
  <div class="text-center">
    <h1>Error 500!</h1>
    <h4 class="text-danger"><%= error %></h4>
  </div>
</section>
<%- include('../partials/footer.ejs') %>
